[Unit]
Description=GETH Bootstrap Node Startup Script

[Service]
WorkingDirectory=/workspace/eth-testnet
Environment=HOME=/home/vagrant
ExecStart=/workspace/eth-testnet/geth-linux-amd64-1.9.12-b6f1c8dc/geth --datadir data1 --networkid 15 --nat extip:192.168.33.10
Restart=always
PrivateTmp=true
User=vagrant
Group=vagrant

[Install]
WantedBy=multi-user.target
